<%-include('./courses/header.ejs')%>

    <section class="about-section ">
        <div class="container">
            <div class="row animatedParent animateOnce">
                <div class="col-lg-12">
                    <div class="about-col animated fadeInLeftShort slow go">
                        <h3>About The University</h3>
                        <p class="para-space text-justify">
                        </p><p style="text-align: justify;"><strong>Patliputra
                                University, Patna</strong> was established on
                            <strong>18th March, 2018</strong>, by the order of
                            the Government of Bihar, vide Letter/memo no.
                            15/M1-71/2016-700, dated 09.04.2018. All the
                            colleges of Patna and Nalanda districts, Bihar
                            (India), fall under the jurisdiction of the
                            Patliputra University except those attached to the
                            Patna University. The University has control over 25
                            constituent colleges, two government girls colleges,
                            three minority colleges and a number of affiliated
                            colleges. Many of these colleges are running
                            university-approved post-graduate centres in various
                            subjects besides skill-oriented courses in
                            vocational and technical/professional areas. These
                            affiliated units are governed by their governing
                            local bodies and duly constituted management board
                            approved by the university.</p>
                        <p style="text-align: justify;">&nbsp;</p>
                        <p style="text-align: justify;"><strong>The Headquarter
                                of Patliputra University is in Patna having its
                                present address as "Old bypass Road, Kankarbagh,
                                Patna-800 020, Bihar (India)."</strong></p>
                        <p style="text-align: justify;">&nbsp;</p>
                        <p style="text-align: justify;">The university has set
                            avant-garde International standards in
                            Teaching-Learning and Research with the aid of
                            uniquely conceived innovative approaches that are
                            aimed to propel the quality of higher education to a
                            new height in the country. The ambience of the
                            university is being developed with radical ideas
                            having global perspective in the domain of
                            Education. The students in our colleges are from
                            different corners of the state/region. In order to
                            achieve academic excellence, we are striving to
                            create a student-centric atmosphere that would be
                            sensibly conducive to all stakeholders-viz-students,
                            researchers, academicians, teachers, parents,
                            society, institutions, research organisations,
                            industries, govt. agencies and all kinds of
                            employers. The university aspires to collaborate
                            with several national and international academic
                            bodies, research organisations, universities,
                            industries, govt. agencies and non-government
                            organisations.</p> <p></p>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <%-include('./courses/footer.ejs')%>