<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Patliputra-Admission-Portal</title>
    <link href="css/style.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="background">
      <div class="loginpage">
        <div class="img">
          <img src="img.jpg" />
        </div>
        <div class="login">
          <form class="login" action="/verify_login" method="post">
            <img src="logo.jpg" alt="college logo" />

            <h1>Login</h1>
            <span style="margin-bottom: 10px">
              <% if(message.length> 0){ %>
              <div class="alert alert-success"><%= message %></div>
              <%}%> <% if(message1.length> 0){ %>
              <div class="alert alert-danger"><%= message1 %></div>
              <%}%>
            </span>

            <input class="input" type="text" placeholder="Email" name="email" />
            <input class="input" id="psw" type="password" placeholder="Password" name="password"/>
            <p><input type="checkbox" id="checkId" onclick="showhide()"> Show Password</p>
            <button class="button" type="submit">Login</button>
            <span class="text">Don't Have An Account?</span>
            <span class="text"
              ><a class="link" href="/register">REGISTER NOW</a></span
            >
            <span class="text"><a class="link" href="/forgot/create">FORGOT PASSWORD</a></span
            >
          </form>
        </div>
      </div>
    </div>
    <script src="script.js"></script>
  </body>
</html>
